/* // => https://www.w3schools.com/howto/howto_js_sidenav.asp */

/* The side navigation menu */
.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    left: 0;
    /*background-color: #111;*/
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}
/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus {
    color: #f1f1f1;
}
/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
    /*margin-left: 15px;*/
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}
/* // => https://www.w3schools.com/howto/howto_js_sidenav.asp */

.HamBurgerIcon:before {
    content: '\2630';
}
.HamBurgerIcon {
    font-size: 5em;
    font-weight: bolder;
    position: absolute;
    top: 0;
    right: 25px;
    /*left: 0;*/
}

/* => http://stackoverflow.com/a/11796469 */
@media screen and (min-width: 0px) and (max-width: 480px) {
    /* show it on small screens */
    .OutsideNavFetchForm {
        display: none;
    }
    .InsideNavFetchForm {
        display: block;
    }
    /*.HamBurgerIcon {
    display: block;
  }*/
    /* show it on small screens */
}
@media screen and (min-width: 481px) {
    /* show it on large screens */
    #nav {
        display: none;
    }
    .OutsideNavFetchForm {
        display: block;
    }
    /*.HamBurgerIcon {
    display: none;
  }*/
    /* show it on large screens */
}
/* => http://stackoverflow.com/a/11796469 */
